.NavigationMenu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.navScroll {
    background-color: white;
    border-bottom: 2px lightgray solid;
}

.Sidebar {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 992px) {
    .Sidebar {
        display: none;
    }
}

@media (max-width: 991px) {
    .NavigationMenu {
        display: none;
    }
}