.Jumbotron {
    margin-top: 40px;
    padding: 20px;
    font-size: 80px;
    /* display: flex;
    flex-flow: column; */
    height: 700px;
}

@media (max-width: 1050px) {
    .Jumbotron {
        font-size: 68px;
    }
}

@media (max-width: 500px) {
    .Jumbotron {
        font-size: 50px;
        height: 100vh;
    }
}