html,
body {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  scroll-padding-top: 56px;
}

body {
  background: url("./assets/images/backgroundImageMobile.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 500px) {
  body {
    background-attachment: scroll;
  }
}